<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header pull-left">
            <a href="{{ url_for('main.index') }}" class="project_name hidden-xs">
                <i class="fa fa-leaf fa-inverse"></i> Test Box
            </a>
        </div>
        <div class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav">
                <li id="nav_user" class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <img alt="Jason's Photo" src="{{ static('img/user.jpg') }}">
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a target="_blank" href="http://v3.bootcss.com/getting-started/">起步</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>